@model Proyectopeli2.Models.Comentario

@Html.ValidationSummary(true)

<div class="add-comment-tool">

    <div>
        <span class="comment-editor-label">
            @Html.LabelFor(model => model.Asunto)  
        </span>
        <span class="comment-editor-field">
            @Html.EditorFor(model => model.Asunto)
            @Html.ValidationMessageFor(model => model.Asunto)
        </span>
    </div>

    <div>
        <span class="comment-editor-label">
            @Html.LabelFor(model => model.Cuerpo)
        </span>
        <span class="comment-editor-field">
            @Html.EditorFor(model => model.Cuerpo)
            @Html.ValidationMessageFor(model => model.Cuerpo)
        </span>
    </div>

    <p>
        <input type="submit" value="Create" />
    </p>

</div>
