@model Proyectopeli2.ViewModel.IndexViewModel


@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Bienvenido @ViewBag.Nombre @ViewBag.Ap</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-8">

    </div>
    <div class="col-md-4">
        <center>
        </center>
    </div>

</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model.Peliculas)
{
<div class="photo-index-card">
    <h3>"@item.Title"</h3>

    @if (item.Poster != null)
    {
        <div class="photo-display">
            <img class="img-rounded" width="200" height="300"  src=" @Html.DisplayFor(model => item.Poster2)" />
        </div>
    }
    <div class="photo-metadata">
        <div>
            <span class="display-label">
                Creado por:
            </span>
            <span class="display-field">
                @Html.DisplayFor(model => item.Director)
            </span>
        </div>

        <div>
            <span class="display-label">
                Fecha de estreno:
            </span>
            <span class="display-field">

                @Html.DisplayFor(model => item.Fecha_estreno)
            </span>
        </div>
    </div>
</div>
}



@{Html.RenderPartial("_paginador", Model);}
